@import 'scss/_colors.scss';
.about__banner {
  display: flex;
  justify-content: flex-end;
  color: $font-light;
  background-color: $bk-dark;
  border-radius: 5px;
  width: 490px;
  height: 80px;
}

.banner__first {
  padding-right: 60px;
}

.banner__second {
  padding-right: 20px;
}

.banner__title {
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.banner__email {
  margin: 4px 0;
}

.banner__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__icon__path {
  fill: $font-light;
}
