.about__wrapper {
  background-color: $HP-BK-Light-Color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__profileImg {
  border: 10px solid $A-Banner-Bk-Color;
  border-radius: 50%;
  box-shadow: 0px 1px 3px #102a43;
  position: absolute;
  left: 0;
  @media screen and (max-width: $phone-max-width) {
    position: relative;
    left: auto;
  }
}

.about__content__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  border-radius: 5px;
  margin-top: 100px;
  @media screen and (max-width: $phone-max-width) {
    margin-top: 64px;
    width: 300px;
    flex-direction: column;
  }
}

.about__content__bottom {
  margin: 64px 0 64px 0;
  width: 600px;
  height: auto;
  line-height: 1.5;
  @media screen and (max-width: $phone-max-width) {
    width: 328px;
  }
}

.about__bio {
  padding: 10px;
  color: $A-Text-Color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  @media screen and (max-width: $phone-max-width) {
    padding: 0px;
  }
}

.about__banner {
  display: flex;
  justify-content: flex-end;
  color: $A-Text-Color;
  background-color: $A-Banner-Bk-Color;
  border-radius: 5px;
  width: 490px;
  height: 80px;
  @media screen and (max-width: $phone-max-width) {
    margin-top: -50px;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    background-color: $HP-BK-Light-Color;
  }
}

.banner__first {
  padding-right: 60px;
  @media screen and (max-width: $phone-max-width) {
    padding: 0;
    width: 100px;
    border-radius: 5px;
    background-color: $A-Banner-Bk-Color;
  }
}

.banner__second {
  padding-right: 20px;
  @media screen and (max-width: $phone-max-width) {
    padding: 0;
  }
}

.banner__title {
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 10px;
  color: $A-Link-Title-Color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  @media screen and (max-width: $phone-max-width) {
    margin-top: -50px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 32px;
  }
}

.banner__second .banner__title {
  @media screen and (max-width: $phone-max-width) {
    color: $A-Email-Title-Mobile-Color;
  }
}

.banner__email {
  margin: 4px 0;
  color: $A-Email-Color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  @media screen and (max-width: $phone-max-width) {
    color: $A-Email-Mobile-Color;
  }
}

.banner__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $phone-max-width) {
    flex-direction: column;
    height: 164px;
    margin-bottom: 64px;
  }
}

.banner__icon__svg {
  @media screen and (max-width: $phone-max-width) {
    width: 60px;
    height: 60px;
  }
}

.banner__icon__path {
  fill: $A-Icon-Color;
}
