.contact__wrapper {
  background-color: $HP-BK-Dark-Color;
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin: 72px auto 0px auto;
  @media screen and (max-width: $phone-max-width) {
    width: 328px;
    margin: 60px auto 0px auto;
  }
}

.contact__label {
  line-height: 1.5;
  color: $C-Form-Label-Color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.contact__input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin: 8px 0 32px 0;
  background-color: $C-Form-Input-BK-Color;
  color: $C-Form-Text-Color;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: inset 0px 1px 2px 0px $C-Form-Input-Shadow-Color,
    inset 0px -1px 0px 0px $C-Form-Input-Highlight-Color;
  &:focus {
    outline-color: $Nav-Color-Highlight;
    outline-style: dotted;
    outline-width: thin;
  }
}

.contact__form__button {
  cursor: pointer;
  align-self: center;
  width: 192px;
  height: 42px;
  border-radius: 5px;
  margin-top: 16px;
  background-color: $C-Form-Button-BK-Color;
  color: $C-Form-Text-Color;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0px 1px 2px $Button-Shadow-Color-Close, 0px 4px 14px 3px $Button-Shadow-Color-Far;
  -webkit-appearance: none;
  transition: transform 0.25s ease-in, box-shadow 0.25s ease-in, width 0.5s ease-in,
    border 0.25s ease-in;
  &:hover,
  &:focus {
    border: 2px solid $Nav-Color-Highlight;
    transform: translate(0, -3px);
    box-shadow: 1px 5px 3px $Hero-Btn-Shadow-Color-Close, 0px 8px 5px 1px $Hero-Btn-Shadow-Color-Far;
  }
  &:focus {
    outline: none;
  }
  @media screen and (max-width: $phone-max-width) {
    width: 120px;
  }
}

.contact__form__button.success {
  width: 250px;
}

.contact__or {
  text-transform: uppercase;
  text-align: center;
  color: $C-OR-Color;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 72px auto;
  @media screen and (max-width: $phone-max-width) {
    margin: 60px auto;
  }
}

.contact__email {
  text-align: center;
  color: $C-Email-Color;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0px auto 72px auto;
}
