.contact__wrapper {
  background-color: $HP-BK-Dark-Color;
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin: 72px auto;
}

.contact__label {
  line-height: 1.5;
  color: $C-Form-Label-Color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.contact__input {
  padding: 10px;
  width: 100%;
  margin: 8px 0 32px 0;
  background-color: $C-Form-Input-BK-Color;
  color: $C-Form-Text-Color;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: inset 0px 1px 2px 0px $C-Form-Input-Shadow-Color, inset 0px -1px 0px 0px $C-Form-Input-Highlight-Color;
}

.contact__form__button {
  cursor: pointer;
  align-self: center;
  width: 192px;
  height: 42px;
  border-radius: 5px;
  margin-top: 16px;
  text-transform: uppercase;
  background-color: $C-Form-Button-BK-Color;
  color: $C-Form-Text-Color;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0px 1px 2px $Button-Shadow-Color-Close, 0px 4px 14px 3px $Button-Shadow-Color-Far;
}

.contact__or {
  text-transform: uppercase;
  text-align: center;
  color: $C-OR-Color;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.contact__email {
  text-align: center;
  color: $C-Email-Color;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 72px 0 128px 0;
}