.hero__text__wrapper {
  margin: auto;
  max-width: $desktop-max-width;
}

.hero__text {
  color: $Hero-Text-Color;
  font-size: 72px;
  max-width: 600px;
  text-shadow: 0px 0px 5px $Hero-Text-Outline-Color;
}
