.hero__section {
  background-color: hsla(0, 0, 0, 0.4);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero__text__wrapper {
  margin: auto;
  max-width: $desktop-max-width;
  @media screen and (max-width: $phone-max-width) {
    margin: 80px auto auto auto;
  }
}

.hero__text {
  color: $Hero-Text-Color;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 72px;
  padding-left: 0.75em;
  max-width: 600px;
  text-shadow: 0px 0px 20px $Hero-Text-Outline-Color;
  @media screen and (max-width: $labtop-max-width) {
    font-size: 60px;
    max-width: 512px;
  }
  @media screen and (max-width: 550px) {
    font-size: 36px;
    max-width: 300px;
  }
}

.hero__text__name {
  color: $Hero-Text-Special-Color;
}

.hero__text__title {
  color: $Hero-Text-Special-Color;
  text-decoration: underline;
}

.hero__text__verb {
  color: $Hero-Text-Special-Color;
}
