.nav__logo__anchor {
  cursor: pointer;
  &:focus {
    outline-style: dotted;
    outline-width: thin;
    outline-color: $Logo-Color;
  }
}

.nav__logo {
  max-width: 50px;
  padding-left: 12px;
}

.nav__logo__path {
  fill: $Logo-Color;
}
