.map__wrapper {
  height: 500px;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.map__wrapper .slice__wrapper:last-of-type {
  position: absolute;
  bottom: 0;
  width: 100%;
}
