.nav {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: $desktop-max-width;
  padding-top: 20px;
  width: 100%;
}

.nav__items {
  display: flex;
}

.nav__item {
  list-style: none;
  padding-right: 1em;
}

.nav__link {
  color: $font-light;
  text-decoration: none;
}