.skills__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1000px;
  background: $HP-BK-Light-Color;
  margin: auto;
}

.skills {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.skill__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill__title {
  color: $S-List-Title-Color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.skill__svg {
  width: 25px;
  height: 50px;
}

.skill__path {
  stroke-width: 10;
  stroke: $S-List-Accent-Color;
  opacity: 1;
}

.skill__list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.skill__listitem {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $S-List-Text-Color;
}
