.slice__wrapper {
  display: flex;
}

.slice__svg {
  margin: auto;
}

.slice__path--white {
  fill: $bk-light;
}

.slice__path--blue {
  fill: $bk-dark;
}

.slice__path--darkblue {
  fill: $bk-darker;
}
