.title__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__top {
  display: flex;
}

.title__svg {
  width: 25px;
  height: 25px;
}

.title__svg__path {
  stroke-width: 5;
}

.title__accent {
  margin: 0;
  padding-top: 0.75em;
  font-size: 0.75em;
  font-weight: 300;
  color: $font-dark;
}

.title__accent--clear {
  @extend .title__accent;
  opacity: 0;
}

.title__main {
  font-weight: 700;
  font-size: 5em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.title__font--dark {
  color: $font-dark;
}

.title__font--light {
  color: $font-light;
}

.title__stroke--dark {
  stroke: $font-dark;
}

.title__stroke--light {
  stroke: $font-light;
}