.work__wrapper {
  margin: auto;
  background-color: $HP-BK-Mid-Color;
}

.work__projects {
  display: grid;
  width: 900px;
  margin: auto;
  padding: 256px 0;
  @media screen and (max-width: $tablet-max-width) {
    width: 700px;
  }
  @media screen and (max-width: $phone-max-width) {
    width: 300px;
    padding: 55px 0;
  }
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin-bottom: 512px;
  @media screen and (max-width: $phone-max-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin-bottom: 128px;
  }
}

.project:nth-of-type(3) {
  margin-bottom: 0;
}

.project__image__container {
  grid-column: 1 / -1;
  @media screen and (max-width: $phone-max-width) {
    grid-row: 1 / 2;
  }
}

.project__image {
  max-width: 700px;
  @media screen and (max-width: $tablet-max-width) {
    max-width: 500px;
  }
  @media screen and (max-width: $phone-max-width) {
    max-width: 300px;
  }
}

.project__details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-items: end;
  position: absolute;
  grid-column: 1 / -1;
  justify-self: end;
  align-self: center;
  @media screen and (max-width: $phone-max-width) {
    width: 100%;
    grid-row: 2 / -1;
    position: relative;
    justify-items: center;
    justify-self: center;
    margin: 16px auto;
  }
}

.project__title {
  color: $P-Title-Color;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  margin: 0;
  text-shadow: 0 0 10px $P-Title-Outline-Color;
  grid-row: 1 / 2;
  @media screen and (max-width: $tablet-max-width) {
    font-size: 60px;
  }
  @media screen and (max-width: $phone-max-width) {
    font-size: 24px;
  }
}

.project__type {
  color: $P-Type-Color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  grid-row: 2 / 3;
  margin: 16px 0 32px 0;
  @media screen and (max-width: $phone-max-width) {
    font-size: 16px;
  }
}

.work__website__question {
  color: $P-Title-Color;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 0 0 36px 0;
  @media screen and (max-width: $tablet-max-width) {
    font-size: 24px;
  }
  @media screen and (max-width: $phone-max-width) {
    font-size: 20px;
  }
}

.website__info__button {
  margin: auto;
}

.work__site {
  margin-top: 256px;
  @media screen and (max-width: $phone-max-width) {
    margin-top: 96px;
  }
}

.project__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  @media screen and (max-width: $phone-max-width) {
    justify-items: center;
    width: 100%;
  }
}

.work__primary__link {
  color: $Pri-Button-Text-Color;
  background-color: $Pri-Button-BK-Color;
  border: 1px solid $Pri-Button-Border;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 24px;
  box-shadow: 0px 1px 2px $Button-Shadow-Color-Close, 0px 4px 14px 3px $Button-Shadow-Color-Far;
  @media screen and (max-width: $tablet-max-width) {
    font-size: 20px;
  }
  @media screen and (max-width: $phone-max-width) {
    font-size: 16px;
    height: 24px;
    width: 100px;
  }
}

.work__secondary__link {
  color: $Sec-Button-Color;
  opacity: 0.75;
  border: 1px solid $Sec-Button-Color;
  padding: 10px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 24px;
  box-shadow: 0px 1px 2px rgba(16, 42, 67, 0.75), 0px 4px 5px 1px rgba(16, 42, 67, 0.25);
  @media screen and (max-width: $tablet-max-width) {
    font-size: 20px;
  }
  @media screen and (max-width: $phone-max-width) {
    font-size: 16px;
    height: 24px;
    width: 100px;
    margin-left: 0px;
  }
}