.project-page__slider {
  grid-column: 1 / 2;
  background-color: #55789a; }

.slider__wrapper {
  height: 100%;
  width: 587px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.slider__image__controls {
  position: absolute;
  margin-left: -75px;
  width: 737px;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slider__image__control {
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #b1d5ef;
  cursor: pointer; }

.slider__image__control__left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.slider__image__icon {
  width: 50px;
  height: 50px; }

.slider__image__icon__primary {
  fill: #b1d5ef; }

.slider__image__icon__secondary {
  fill: #072f4c; }

.slider__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease; }

.slider__image {
  max-width: 567px;
  max-height: 425px;
  border: 10px solid #8baac8;
  margin-right: 100px;
  cursor: pointer; }

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.modal--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.modal__background__blur {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  background-color: #36516a;
  z-index: -1; }

.modal__close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #f0f4fb;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0); }

.modal__image {
  display: block;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(16, 42, 67, 0.4);
          box-shadow: 0px 5px 10px 5px rgba(16, 42, 67, 0.4); }

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #102a43;
  overflow-x: hidden; }

#__next {
  height: 100%;
  width: 100%; }

.project-page__wrapper {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  margin: auto;
  overflow-x: hidden; }

.project-page__details {
  grid-column: 2 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  background-color: #f0f4fb;
  z-index: 10;
  border-left: 5px solid #36516a; }

.details__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 64px;
  color: #426585;
  margin: 24px auto 0px auto; }

.details__type {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #55789a;
  margin: 8px auto 36px auto; }

.details__description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #203f5c;
  text-align: center;
  margin: 0;
  max-width: 28em;
  line-height: 1.25; }

.details__tech {
  margin: 36px auto 96px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.tech__icon {
  margin: 36px auto 24px auto;
  width: 30px;
  height: 30px; }

.icon__primary {
  fill: #529ace; }

.icon__secondary {
  fill: #09385a; }

.tech__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #426585;
  text-align: center;
  margin: 0px auto 24px auto; }

.tech__list {
  list-style: none;
  text-align: center;
  padding: 0px;
  line-height: 1.5; }

.tech__list__item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #203f5c; }

.details__link {
  color: #dceefb;
  background-color: #072f4c;
  border: 1px solid #36516a;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 24px;
  -webkit-box-shadow: 0px 1px 2px rgba(16, 42, 67, 0.75), 0px 4px 14px 3px rgba(16, 42, 67, 0.4);
          box-shadow: 0px 1px 2px rgba(16, 42, 67, 0.75), 0px 4px 14px 3px rgba(16, 42, 67, 0.4); }


/*# sourceMappingURL=styles.chunk.css.map*/