.slice__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slice__svg {
  margin: auto; }

.slice__path--white {
  fill: #eff8ff; }

.slice__path--blue {
  fill: #36516a; }

.slice__path--darkblue {
  fill: #203f5c; }

.skill__icon__svg {
  width: 36px; }

.skill__icon__primary {
  fill: #529ace; }

.skill__icon__secondary {
  fill: #09385a; }

.nav__logo {
  max-width: 50px;
  padding-left: 12px; }

.nav__logo__path {
  fill: #0f609b; }

.title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 64px auto 0px auto; }

.title__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title__svg {
  width: 25px; }

.title__svg__path {
  stroke-width: 5; }

.title__accent, .title__accent--clear {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 300; }

.title__accent--clear {
  opacity: 0; }

.title__main {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  margin: 0;
  text-transform: uppercase; }

.title__font--dark {
  color: #072f4c; }

.title__font--light {
  color: #dceefb; }

.title__accent--dark {
  stroke: #55789a;
  color: #55789a; }

.title__accent--light {
  stroke: #b1c8df;
  color: #b1c8df; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px auto;
  max-width: 1440px;
  width: 100%; }

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  list-style: none;
  padding-right: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px; }

.nav__link {
  color: #dceefb;
  text-decoration: none; }

.nav__item--primary {
  color: #bef8fd; }

.hero__text__wrapper {
  margin: auto;
  max-width: 1440px; }

.hero__text {
  color: #dceefb;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 72px;
  max-width: 600px;
  text-shadow: 0px 0px 5px #102a43; }

.skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eff8ff;
  margin: auto; }

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 96px 0 64px 0; }

.skill__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.skill__title {
  color: #203f5c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 24px auto; }

.skill__svg {
  height: 50px; }

.skill__path {
  stroke-width: 10;
  stroke: #b1c8df;
  opacity: 1; }

.skill__list {
  list-style-type: none;
  padding: 0;
  margin: 24px auto;
  text-align: center; }

.skill__listitem {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #203f5c; }

.work__wrapper {
  margin: auto;
  background-color: #36516a; }

.work__projects {
  display: grid;
  width: 900px;
  margin: auto;
  padding: 256px 0; }

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin-bottom: 512px; }

.project:nth-of-type(3) {
  margin-bottom: 0; }

.project__image__container {
  grid-column: 1 / -1; }

.project__image {
  max-width: 700px; }

.project__details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  justify-items: end;
  position: absolute;
  grid-column: 1 / -1;
  justify-self: end;
  align-self: center; }

.project__title {
  color: #f0f4fb;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  margin: 0;
  text-shadow: 0 0 10px #072f4c;
  grid-row: 1 / 2; }

.project__type {
  color: #b1c8df;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  grid-row: 2 / 3;
  margin: 16px 0 32px 0; }

.work__website__question {
  color: #f0f4fb;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 0 0 36px 0; }

.website__info__button {
  margin: auto; }

.project__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end; }

.work__primary__link {
  color: #dceefb;
  background-color: #072f4c;
  border: 1px solid #36516a;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 24px; }

.work__secondary__link {
  color: #dceefb;
  border: 1px solid #dceefb;
  padding: 10px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 24px; }

.about__wrapper {
  background-color: #eff8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.about__profileImg {
  border: 10px solid #36516a;
  border-radius: 50%;
  position: absolute;
  left: 0; }

.about__content__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  border-radius: 5px;
  margin-top: 100px; }

.about__content__bottom {
  margin-top: 100px;
  width: 600px;
  height: auto; }

.about__bio {
  padding: 10px;
  color: #426585;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.about__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #426585;
  background-color: #36516a;
  border-radius: 5px;
  width: 490px;
  height: 80px; }

.banner__first {
  padding-right: 60px; }

.banner__second {
  padding-right: 20px; }

.banner__title {
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 10px;
  color: #d1dcef;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.banner__email {
  margin: 4px 0;
  color: #bef8fd;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px; }

.banner__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.banner__icon__path {
  fill: #f0f4fb; }

.contact__wrapper {
  height: 1100px;
  background-color: #203f5c; }

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin: 100px auto; }

.contact__label {
  line-height: 1.5;
  padding-bottom: 20px;
  color: #8baac8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.contact__input {
  width: 100%;
  background-color: #102a43;
  color: #f0f4fb;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px; }

.contact__form__button {
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
  background-color: #102a43;
  color: #f0f4fb;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px; }

.contact__or {
  text-transform: uppercase;
  text-align: center;
  color: #426585;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px; }

.contact__email {
  text-align: center;
  color: #bef8fd;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px; }

.footer__wrapper {
  height: 100px;
  background-color: #102a43;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #55789a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px; }

.footer__link {
  padding: 0 3px;
  color: #55789a;
  cursor: pointer;
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

html,
body {
  margin: 0; }

body {
  background-color: #36516a;
  font-family: "Raleway", sans-serif;
  font-family: "Open Sans", sans-serif; }

.landing__wrapper {
  background-image: url("/static/website_hero.jpg");
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }


/*# sourceMappingURL=styles.chunk.css.map*/