.nav__logo {
  max-width: 50px;
  max-height: 50px; }

.nav__logo__path {
  fill: #eff8ff; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
  max-width: 1400px;
  padding-top: 20px;
  width: 1400px; }

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  list-style: none;
  padding-right: 1em; }

.nav__link {
  color: #eff8ff;
  text-decoration: none; }

.hero__text__wrapper {
  margin: auto;
  max-width: 1400px; }

.hero__text {
  color: #eff8ff;
  font-size: 5em;
  max-width: 600px; }

.hero__div {
  background-color: #05111a;
  width: 100%;
  height: 1080px;
  position: relative;
  top: 0;
  z-index: -50; }

.slice__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slice__svg {
  margin: auto; }

.slice__path--white {
  fill: #eff8ff; }

.slice__path--blue {
  fill: #3e5a71; }

.slice__path--darkblue {
  fill: #06131c; }

.title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.title__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title__svg {
  width: 25px;
  height: 25px; }

.title__svg__path {
  stroke-width: 5; }

.title__accent, .title__accent--clear {
  margin: 0;
  padding-top: 0.75em;
  font-size: 0.75em;
  font-weight: 300;
  color: #263745; }

.title__accent--clear {
  opacity: 0; }

.title__main {
  font-weight: 700;
  font-size: 5em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

.title__font--dark {
  color: #263745; }

.title__font--light {
  color: #eff8ff; }

.title__stroke--dark {
  stroke: #263745; }

.title__stroke--light {
  stroke: #eff8ff; }

.skill__icon__path {
  fill: #263745;
  opacity: 0.75; }

.skill__list {
  list-style-type: none;
  padding: 0;
  text-align: center; }

.skill__listitem {
  line-height: 2em;
  color: #263745; }

.skill__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.skill__title {
  color: #263745; }

.skill__svg {
  width: 25px;
  height: 50px; }

.skill__path {
  stroke-width: 5;
  stroke: #263745;
  opacity: 0.75; }

.skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1000px;
  background: #eff8ff;
  margin: auto; }

.skills {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.work__wrapper {
  margin: auto;
  background-color: #3e5a71;
  height: 2000px; }

.about__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #eff8ff;
  background-color: #3e5a71;
  border-radius: 5px;
  width: 490px;
  height: 80px; }

.banner__first {
  padding-right: 60px; }

.banner__second {
  padding-right: 20px; }

.banner__title {
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 10px; }

.banner__email {
  margin: 4px 0; }

.banner__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.banner__icon__path {
  fill: #eff8ff; }

.about__wrapper {
  height: 1000px;
  background-color: #eff8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.about__profileImg {
  border: 10px solid #3e5a71;
  border-radius: 50%;
  position: absolute;
  left: 0; }

.about__content__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  border-radius: 5px;
  margin-top: 100px; }

.about__content__bottom {
  margin-top: 100px;
  width: 600px;
  height: auto; }

.about__bio {
  padding: 10px;
  color: #263745; }

.map__wrapper {
  height: auto;
  background-color: gray; }

.map {
  height: 250px; }

.contact__wrapper {
  height: 1000px;
  background-color: #06131c; }

.footer__wrapper {
  height: 100px;
  background-color: #05111a; }

html,
body {
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  background-color: #3e5a71; }

.landing__wrapper {
  background-image: url("/static/website_hero.jpg");
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }


/*# sourceMappingURL=styles.chunk.css.map*/