.group__title {
  font-size: 1em;
  color: $font-dark;
  font-weight: 600;
  text-align: center;
}

.group__form {
  padding: 10px;
}

.group__form__input,
.group__form__textarea {
  width: 100%;
  font-size: 1em;
  box-sizing: border-box;
  color: $font-dark;
  border-radius: 5px;
  background-color: lighten($bk-light, 25%);
  padding: 7px;
  margin: 10px 0;
  border: none;
}

.group__form__label {
  font-size: 1em;
  color: $font-dark;
  margin-bottom: 0.5em;
  text-align: center;
}

.image__upload {
  display: grid;
  justify-items: center;
  align-items: center;
}

.image__upload__form {
  margin: 10px 0;
  background-color: $bk-light;
}

.project__images__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}