@import 'scss/_colors.scss';
.primary__button {
  border: 2px solid $bk-dark;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  color: $font-dark;
  background: $bk-light;
  font-size: 1em;
  font-weight: 500;
  width: 140px;
}

.secondary__button {
  width: 140px;
  border: 2px solid $bk-dark;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  color: $bk-dark;
  background: $bk-light;
  font-size: 1em;
  font-weight: 500;
}

.tertiary__button {
  width: 200px;
  border: 2px solid $bk-dark;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  color: $bk-dark;
  background: $bk-light;
  font-size: 1em;
  font-weight: 400;
}

.secondary__button--active {
  width: 140px;
  border: 2px solid $bk-dark;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  color: $bk-light;
  background: $bk-dark;
  font-size: 1em;
  font-weight: 500;
}

.section__buttons__wrapper {
  grid-row: 1 / 2;
  grid-column: 4 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}