.dashboard__nav {
  background-color: $bk-dark;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav__buttons__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__buttons__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__button {
  border: none;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
  color: $font-light;
  background: $bk-dark;
  font-size: 1.1em;
  font-weight: 500;
  margin-right: 1em;
}

.nav__button--right {
  margin-right: 0;
}

.dashboard__content {
  background-color: $bk-light;
  padding: 50px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 8% 1fr 1fr;
  grid-gap: 10px;
}