@import 'scss/_colors.scss';
@import 'scss/_sizes.scss';
// Import other sheets
@import 'common.scss';
@import 'cards.scss';
@import 'controller.scss';
@import 'login.scss';
@import 'profile.scss';
@import 'projects.scss';
// Styles for dashboard component
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $bk-dark;
}

#__next {
  height: 100%;
}

.dashboard-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 7% 1fr;
}

.dashboard__login__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.dashboard__login__wrapper:after {
  content: '';
  background-image: url(/static/hexabump.png);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}