.form {
  width: 350px;
  height: 400px;
  color: $Pri-Button-BK-Color;
  background-color: #e3ecfa;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

.form__heading {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin: 24px auto;
  color: #102a43;
}

.form__set {
  border: none;
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.form__label {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #102a43;
  margin-bottom: 24px;
}

.form__error {
  margin: 1em;
  font-weight: 400;
  font-size: 14px;
  color: #911111;
}

.form__input {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #f0f4fb;
  box-shadow: inset 0px 1px 4px 0px rgba(10, 31, 61, 0.5),
    inset 0px -1px 0px 0px rgba(242, 242, 242, 0.5);
}

.form__button {
  width: 50%;
  height: 36px;
  font-size: 16px;
  margin: 16px auto;
  align-self: center;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0f609b;
  color: #f0f4fb;
  box-shadow: 0px 1px 6px 0px rgba(10, 31, 61, 0.75);
  transition: transform 0.25s ease-in, box-shadow 0.25s ease-in;
  &:hover {
    transform: translate(0, -3px);
    box-shadow: 0px 4px 10px 0px rgba(10, 31, 61, 0.75);
  }
}
