.profile__nav {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.profile__nav__right {
  padding: 10px;
  justify-items: end;
  align-items: center;
  grid-column: 4 / -1;
  display: grid;
  grid-template-columns: 1fr;
}

.skills__edit-card {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.skills__title {
  grid-column: 1 / -1;
}

.image__edit-card {
  grid-row: 3 / -1;
  grid-column: 1 / 2;
  padding: 10px;
}

.links__edit-card {
  grid-row: 3 / -1;
  grid-column: 2 / 4;
  padding: 10px;
}

.bio__edit-card {
  grid-row: 3 / -1;
  grid-column: 4 / -1;
  padding: 10px;
}

.skill__group {
  grid-row: 2 / -1;
}