@import 'scss/_colors.scss';
.project__nav {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: $bk-medium;
}

.project__nav__left {
  padding: 10px;
  justify-items: start;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project__nav__right {
  padding: 10px;
  justify-items: end;
  align-items: center;
  grid-column: 4 / -1;
  display: grid;
  grid-template-columns: 1fr;
}

.project__edit-card {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 35% 65%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.project__images {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-color: $bk-medium;
  padding: 10px;
}

.project__main {
  grid-row: 2 / -1;
  grid-column: 1 / 2;
  background-color: $bk-medium;
  padding: 10px;
}

.project__tech {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  background-color: $bk-medium;
  padding: 10px;
}
