.project-page__slider {
  grid-column: 1 / 2;
  background-color: $HP-BK-Dark-Color;
  display: flex;
  @media screen and (max-width: 1260px) {
    flex: 3 1 auto;
    order: 1;
  }
  @media screen and (max-width: $phone-max-width) {
    width: 100vw;
    height: calc(100vw / 1.33);
  }
}

.slider__container {
  max-width: 975px;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}

.slider__image__controls {
  position: absolute;
  z-index: 15;
  width: 100%;
  top: calc(50% - 25px);
  display: flex;
  justify-content: space-between;
}

.slider__image__control {
  padding: 0;
  margin: 0px 25px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $PD-Image-Button-Primary-Color;
  cursor: pointer;
  opacity: 0.25;
  &:hover {
    opacity: 1;
  }
  &:focus {
    outline-style: dotted;
    outline-color: $Nav-Color-Highlight;
    outline-width: thin;
  }
}

.slider__image__control__left {
  transform: rotate(180deg);
}

.slider__image__icon {
  width: 50px;
  height: 50px;
}

.slider__image__icon__primary {
  fill: $PD-Image-Button-Primary-Color;
}

.slider__image__icon__secondary {
  fill: $PD-Image-Button-Secondary-Color;
}

.slider__images {
  display: flex;
  transition: transform 500ms ease;
}

.slider__image {
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;
  @media screen and (max-width: 975px) {
    width: 100%;
    height: calc(100vw / 1.33);
  }
}
