.project-page__slider {
  grid-column: 1 / 2;
  background-color: $PD-Image_BK-Color;
  @media screen and (max-width: 1260px) {
    grid-row: 2 / -1;
    padding: 10px;
  }
  @media screen and (max-width: $phone-max-width) {
    padding-top: 10px;
  }
}

.slider__wrapper {
  height: 100%;
  width: 587px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  @media screen and (max-width: $phone-max-width) {
    //width: 300px;
    width: 100%;
    flex-direction: column;
    align-items: unset;
  }
}

.slider__image__controls {
  position: absolute;
  margin-left: -75px;
  width: 737px;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $phone-max-width) {
    position: relative; //width: 300px;
    margin: 24px auto 24px auto;
    width: 100%;
  }
}

.slider__image__control {
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $PD-Image-Button-Primary-Color;
  cursor: pointer;
}

.slider__image__control__left {
  transform: rotate(180deg);
}

.slider__image__icon {
  width: 50px;
  height: 50px;
}

.slider__image__icon__primary {
  fill: $PD-Image-Button-Primary-Color;
}

.slider__image__icon__secondary {
  fill: $PD-Image-Button-Secondary-Color;
}

.slider__images {
  display: flex;
  transition: transform 500ms ease;
  @media screen and (max-width: $phone-max-width) {
    //padding-left: calc(100vw - 250px / 2);
    position: absolute;
  }
}

.slider__image {
  max-width: 567px;
  max-height: 425px;
  border: 10px solid $PD-Image-Stroke-Color;
  margin-right: 100px;
  cursor: pointer;
  @media screen and (max-width: $phone-max-width) {
    max-width: 250px;
    max-height: 188px;
    margin: 0;
  }
}
