@import '_colors';
.dashboard-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.dashboard-wrapper:after {
  content: '';
  background-image: url(/static/hexabump.png);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.dashboard__nav {
  height: 50px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}